#page {
	display: grid;
	grid-template-columns: 0.25fr auto 2fr; /* Rozdělení prostoru mezi panel-left a panel-right */
	height: 100%;
	overflow: hidden;
	width:100%;
}
#page .resizer {
	cursor: ew-resize;
	left: var(--panel-left-width);
	width: var(--resizer-width);
	margin-left: -5px;
	margin-right: -5px;
	margin-top: var(--userbar-height);
	background-color: transparent;
	z-index: 100;
}

.panel-left {
	display: grid;
	grid-template-rows: var(--searchbar-height) auto var(--accountbar-height) 1fr auto;
	background-color: #fff;
	overflow-y: hidden;
	overflow-x: hidden;
	min-width: var(--leftpanel-min-width);
	max-width: var(--leftpanel-max-width);
}

.panel-right {
	min-width: var(--rightpanel-min-width);
	max-width: var(--rightpanel-max-width);
	background-color: #eee;
	/*grid-template-rows: var(--searchbar-height) 1fr var(--inputbar-height);*/
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	overflow-x: hidden;
	/*width: 100vw; viewport width */
}

.social-icons {
	position: relative;
	z-index: 1;
	display: flex;
	flex-wrap: wrap; /* Toto zajistí, že položky přejdou na další řádek, pokud přesáhnou šířku rodičovského prvku */
	justify-content: center; /* Zarovná ikony k levému okraji */
	background-color: #1d1d1d;
	max-height: var(--searchbar-height);
	transition: max-height 0.2s ease-in-out;
}
.social-icons.expanded {
	max-height: calc(4*var(--searchbar-height));
}
	/*gap: 10px; /* Vzdálenost mezi ikonami */

.social-icons .social-icons-block {
	margin-top:5px;
	display: flex;
	flex-wrap: wrap; /* Toto zajistí, že položky přejdou na další řádek, pokud přesáhnou šířku rodičovského prvku */
	justify-content: center; /* Zarovná ikony k levému okraji */
	background-color: #1d1d1d;
	margin-right:25px;
	min-height:50px;
}
.social-icons-block, .social-icons-block:focus, .social-icons-block:active {
	outline: none!important;
}

.social-icons .social-icon-container {
	width: 48px;
	height:48px;
	display: inline-flex;
	padding:5px;
	align-content: center;
	cursor: pointer!important;
}
.social-icons .icon {
	width: 32px;
	height: 32px;
	cursor: pointer; /* This ensures that the cursor doesn't change to a pointer on hover */
}
.social-arrow {
	width: 32px;
	position: absolute;
	height: 64px;
	background: url(../img/icons/caret-down.svg) no-repeat center center;
	background-size: 13px 13px;
	margin-left: auto;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

.social-arrow.expanded {
	width: 32px;
	position: absolute;
	height: 64px;
	background: url(../img/icons/caret-up.svg) no-repeat center center;
	background-size: 13px 13px;
	margin-left: auto;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

.invisible {
	display: none !important;
}
.userinvisible {
	visibility: hidden;
}

.hidden-bar {
	display: none!important;
}

.blurred {
	filter: blur(3px);
	position: relative;
	overflow: hidden;
	pointer-events: none;
}

.blurred::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
	z-index: 1;
}
#message-text-input {
	width: 100%;
	overflow: hidden;
	resize: none;
	border-bottom: 1px solid #ffffff;
	max-height: 15em;
	line-height: 1.5em;
	font-size: 1.2em;
	margin-bottom: 8px;
}
#message-text-input:empty:not(:focus):before {
	content: attr(data-placeholder);
	color: #888;
	pointer-events: none;
	font-size: 0.8em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* extracted.css */
.toggle-container {
	margin-right: 6px;
	min-width: 24px;
	max-width: 24px;
	display: inline-block;
	height: 10px;
	width: 24px;
	padding-bottom: 15px;
	padding-left: 4px;
	padding-right: 4px;
}

.toggle-switch {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.toggle-switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: gray;
	transition: 0.2s;
	border-radius: 10px;
}

.toggle-switch .slider:before {
	position: absolute;
	content: '';
	height: 8px;
	width: 8px;
	left: 1px;
	bottom: 1px;
	background-color: var(--primary-color);
	transition: 0.2s;
	border-radius: 50%;
}

.toggle-switch input:checked + .slider {
	background-color: #807000;
}

.toggle-switch input:checked + .slider:before {
	transform: translateX(14px);
}

.back-button {
	/* display: none; */
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.icon-comment {
	flex-shrink: 0;
	height: 1em;
	width: 1em;
}

.multipart-message {
	width:100%;
	box-sizing: border-box;
	overflow: hidden;
}
.multipart-message .element {
	margin-right: 5px;
	align-items: center;
	width: 100%;
}

.multipart-message .element .conversation__user-photo {
	width:50px;
	height:50px;
}
.multipart-message .conversation__info {
	overflow-y: hidden;
}

.multipart-message .hint1,
.multipart-message .hint2 {
	font-size: 0.8em;
	color: red;
	position: absolute;
	display: none;
	pointer-events: none; /* Aby nápověda neblokovala interakci s inputem */
}


.multipart-message .element.area-input {
	width: 300px;           /* Přizpůsobte podle vašich potřeb */
	max-width: 300px;       /* Aby šířka zůstala neměnná */
	white-space: pre-wrap;  /* Aby text byl zalomen */
	word-wrap: break-word;  /* Zalomení delších slov, pokud je to nutné */
	overflow-y: auto;       /* Povoluje vertikální posunování, pokud je text delší než výška divu */
	border: 2px solid gray; /* Pro vizuální indikaci divu */
	line-height: 1.2;       /* Podle vašeho předchozího nastavení */
	min-height: 12em;
	height: 12em;
	max-height: 12em; /* Přizpůsobte podle vašich potřeb */
	border-radius: 5px;
	padding:5px;
	margin-top:4px;
}

.multipart-message .element.text-input {
	width: 300px;
	max-width: 300px;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-y: hidden;
	border: 2px solid gray;
	line-height: 1em;
	min-height: 1.5em;
	font-size: 1em;
	height: 2em;
	border-radius: 5px;
	padding: 5px;
	margin-top: 4px;
}


.message-template-modal .multipart-message .element button {
	font-size: 0.8em !important;
	margin-right: 0px;
	margin-left: auto;
}
.multipart-message .element {
	margin-right: 5px;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}
.multipart-message .element.comment {
	margin-right: 5px;
	align-items: center;
	width: 100%;
	display: flex;
	margin-bottom: 5px;
}
.horizontal-line {
	width: 100%; /* or any desired width */
	height: 1px; /* thickness of the line */
	background-color: #1d1d1d; /* color of the line */
	margin-bottom: 5px;
	margin-top: 5px;
}
.comment-text {
	flex-grow: 1;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	color: #1d1d1d;
}

.icon-send {
	flex-shrink: 0;
	height: 2em;
	width: 2em;
	cursor: pointer;
}

.multipart-message .element.contact {
	display: flex;
	background-color: var(--primary-color);
	padding: 8px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 10px;
	box-sizing: border-box;
	align-items: center;
}
.multipart-message .element .conversation__info {
	margin: 0px 0px 0px 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.multipart-message .element .image-container {
	border-radius: 10px; /* Kulaté rohy */
	overflow: hidden; /* Skryje části obrázku, které by vystupovaly mimo kulaté rohy */
	height: 250px; /* Příklad výšky divu */
}
.multipart-message .audio div img {
	height: 54px;
}
.multipart-message .element .audio {
	align-items: center;
}
.multipart-message .element .image-container img {
	width: 100%; /* Obrázek bude mít šířku rovnou šířce divu */
	height: 100%; /* Obrázek bude mít výšku rovnou výšce divu */
	object-fit: cover; /* Obrázek bude oříznut, pokud nebude odpovídat poměru stran divu */
}
.multipart-message .element .image-container.video {
	cursor:pointer;
}
.multipart-message .element .image-container video {
	width: 100%; /* Obrázek bude mít šířku rovnou šířce divu */
	height: 100%; /* Obrázek bude mít výšku rovnou výšce divu */
	object-fit: cover; /* Obrázek bude oříznut, pokud nebude odpovídat poměru stran divu */
}
.multipart-message .element.link a {
	color: var(--secondary-color);
	text-decoration: none; /* Obrázek bude oříznut, pokud nebude odpovídat poměru stran divu */
}
.multipart-message .element button, .multipart-message .element select{
	background-color: var(--secondary-color);
	color: #ffffff;
	font-size: 1em;
	margin-right: 4px;
	font-weight: bold;
	cursor: pointer;
	min-width: 80px;
	text-align: center;
	border: 0px;
	border-radius: 10px;
	padding: 10px;
}
.mapContainer {
	width: 250px;
	height: 250px;
}
.multipart-message .element .mapContainer button.ol-zoom-in, .multipart-message .element .mapContainer button.ol-zoom-out {
	background-color: #ffffff;
	color:#1d1d1d;
	border: 1px solid #dddddd;
	padding:5px;
	margin:0;
	font-height:bold;
	min-width: 0px;
	height:auto;
	border-radius: 2px;
	text-align: center;
}

.video-container {
	position: relative;
}

.play-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	z-index: 10;
	cursor: pointer;
}
.paused .icon-container {
	display: none !important;
}
.video-time-info {
	display: flex;
	justify-content: space-between;
	/*padding: 5px 10px;*/
	font-size: 0.8em;
}
.icon-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80px;
	height: 80px;
	z-index: 10;
}
.video-container.paused .play-icon {
	display: block;
}

#waveform {
	/*border: 1px solid #333; */
	overflow: hidden;
	background-color: transparent;
	border-radius: 10px;
}

.group-conversation {
	display: flex;
	align-items: flex-start;
	padding: 0px 0px;
	background-color: var(--primary-color);
	color: #1d1d1d;
	font-weight: bold;
	cursor: pointer;
	flex-direction: column;
	box-sizing: border-box;
	margin: 0;
	max-height: 1000px;
	overflow:hidden;
	transition: max-height 0.2s ease-in-out;
	position: relative;
}
.group-conversation.group-visible {
	max-height: 43px;
}
.group-conversation .group-header{
	width: 100%;
	display: flex;
	align-items: center;
	padding: 8px 8px;
	box-sizing: border-box;
	cursor: pointer;
	min-height:48px;
	border-top: 1px solid var(--primary-color-15);
	border-bottom: 1px solid var(--primary-color-15);

}
.group-conversation .group-item{
	width: 100%;
	align-items: center;
	padding: 0px 0px;
	box-sizing: border-box;
}
.group-icon {
	diaplay: none;
}
.group-arrow {
	width: 12px;
	height: 10px;
	background-repeat: no-repeat;
	margin-left: 6px;
	background-image: url('../img/icons/caret-up-black.svg');
}
.g-opened {
	width: 12px;
	height: 10px;
	margin-left: 6px;
	background-repeat: no-repeat;
	background-image: url('../img/icons/caret-down-black.svg') !important;
}

.group-name {
	flex-grow: 1;
	padding: 0 4px;
}

.photo-circle-grouped {
	margin-left: -20px;
	z-index: -1;
}
.photo-circle-user-grouped {
	margin-left: 25px;
	z-index: -1;
}
.message__content .map {
	width: auto;
}
.leaflet-container .leaflet-right {
	opacity: 0 !important;
}
.fast-replies {
	position: absolute;
	margin-left: 36px;
	background-color: #1d1d1d;
	color: #ffffff;
	padding: 0px;

	align-items: flex-start;
	flex-direction: column;
	overflow: hidden;
	box-shadow: var(--basic-shadow);
	bottom: 100%;
	z-index: 1;
	transform: translateY(0);
	transition: transform 0.2s ease-in-out;
}
.fast-replies.hiddenf {
	transform: translateY(250%);
}

.fast-replies div {
	cursor: pointer;
	margin: 0px;
	font-size: 1em;
	height: 38px;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	display: flex;
	align-items: center;
}
.fast-replies div:hover {
	background-color: #2d2d2d;
}
.fast-replies .last {
	display: flex; /* Přidáno: nastaví flexbox */
	align-items: center;
}
.fast-replies div img {
	width: 24px;
	height: 22px;
	margin-right: 0.5em;
}

.lottie {
	height:10em;
}

.controls-menu {
	position: absolute;
	right: 0px;
	top: 64px;
	margin-right: 0px;
	background-color: hsl(
		var(--primary-color-hue),
		var(--primary-color-sat),
		calc(var(--primary-color-lig) + 35%)
	);
	box-shadow: var(--basic-shadow);
	transform: translateY(0px);
	/*transition: transform 0.2s ease-in-out; */
	z-index: 1000;
}
.controls-menu.invisiblef {
	transform: translateY(-300px);
}

.controls-menu p {
	cursor: pointer;
	padding: 10px;
	margin: 0px;
	font-size: 1em;
}
.controls-menu p:hover {
	background-color: var(--primary-color-hue);
}
.account__photo .plus-icon {
	width: 36px;
	height: 36px;
}
.wavecontainer {
	padding-top: 4px;
	padding-bottom: 0px;
	width: 185px;
}
.modal-class-width-25 {
	width:25vw!important;
}.modal-class-width-50 {
	 width:50vw!important;
 }
.modal-class-width-75 {
	width:75vw!important;
}
.modal-class-width-400px {
	width:400px!important;
}
.modal-class-width-250px {
	width:250px!important;
}
.modal-class-qrmodal {
 height:660px;
}
.modal-class-height-560px {
	height:560px!important;
}
.modal-body-black {
	background-color: #1d1d1d!important;
}

.modal .multipart-message .element {
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
	margin: 5px 0;
	border-radius: 5px;
}
.modal .multipart-message .element label {
	font-weight: bold;
}
.modal .multipart-message .element input {
	font-size:1em;
	padding:5px;
}
.modal .multipart-message .element button {
	margin-right: 0;
	margin-left: auto;
	display: flex;
}
.modal .multipart-message .element .image-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal .multipart-message .element.image-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal .multipart-message .element .image-container .photo-circle {
	height: 15em;
	width: 15em;
}

.modal {
	display: flex;
	flex-direction: column; /* Přidáno pro správné uspořádání obsahu */
	position: fixed;
	min-width: 100px;
	max-width: 90vw;
	max-height: 90vh;
	background-color: white;
	border-radius: 10px;
	box-shadow: var(--basic-shadow);
	z-index: 1000;
	overflow: hidden;
	user-select: none; /* Zabrání výběru textu */
	pointer-events: auto;
}
.modal-o {
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
	overflow: hidden;

}

.modal-o .modal-body-o {
	overflow-y: hidden; /* Přidáno pro automatický posuvník, pokud je obsah příliš dlouhý */
	flex: 1; /* Zajistí, že tělo modálního okna zabere zbývající místo */
	padding: 10px;
	align-items: center;
	width:80%;
	height:100%;
}

.modal .modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem; /* Přidáno pro odsazení obsahu od okrajů */
	width: 100%;
	padding: 5px;
	background-color: var(--primary-color);
	font-size: 1em;
}

.modal .modal-title {
	flex: 1; /* Zajistí, že titulek zabere co nejvíce dostupného místa */
	font-weight: bold;
	margin-left: 5px; /* Přidáno pro zarovnání ikony k pravému okraji */ /* Přidáno pro zarovnání ikony k pravému okraji */ /* Přidáno pro zarovnání ikony k pravému okraji */
}

.modal .close-icon {
	cursor: pointer;
	width: 24px; /* Opravena hodnota z '48x' na '48px' */
	height: 24px;
	background-color: var(--primary-color);
	background-image: url('../img/icons/icons8-close.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-left: auto;
	margin-right: 12px;
}

.modal-o .close-icon-o {
	position: fixed;
	right: 0px;
	top: 0px;
	cursor: pointer;
	width: 24px; /* Opravena hodnota z '48x' na '48px' */
	height: 24px;
	background-color: #1d1d1d;
	background-image: url('../img/icons/icons8_closeb.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	margin-left: auto;
	margin-right: 0px;
	margin-top:0px;
	padding:10px;
	z-index: 1000;
}
.modal .modal-body {
	overflow-y: auto; /* Přidáno pro automatický posuvník, pokud je obsah příliš dlouhý */
	flex: 1; /* Zajistí, že tělo modálního okna zabere zbývající místo */
	padding: 10px;
	overflow-x: hidden;
	position: relative;
}

.modal .multipart-message .element select {
	background-color: white;
	border-radius: 5px;
	border: 1px solid #808080;
	color:#1d1d1d;
	text-align: left;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	pointer-events: all; /* Aby neblokovalo interakci s ostatními prvky */
}

.modal-header {
	cursor: move; /* Ukazuje, že hlavičku lze táhnout */
}

.resize-handle {
	width: 10px;
	height: 10px;
	background-color: #ccc;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: nwse-resize; /* diagonal resize cursor */
}
.conversation__status__icons__read-state.conversation__status__icons__read-state--unread.ingroup-status {
	margin-top: 2px;
}

.ticks {
	display: inline-flex; /* Aby se ikony zarovnaly vedle sebe */
	align-items: center; /* Vertikální zarovnání ikon na střed */
	height: 18px; /* Výška se přizpůsobí rodičovskému elementu */
	width: auto; /* Šířka se přizpůsobí obsahu */
}
.sc-carousel-dots__container {
	display: none!important;
}
@media (max-width: 794px) {

	#page {
		height:100%;
		margin:0;
		overflow: hidden;

	}
	.panel-left {
		height:0px;
		width:0px;
		min-width:0px;
	}
	.panel-right {
		height:0px;
		width:0px;
		min-width:0px;
	}
	.resizer {
		display: none;
	}
	.active-panel {
		position: fixed; /* Panel bude vždy viditelný na obrazovce */
		top: 0; /* Od horního okraje */
		left: 0; /* Od levého okraje */
		width: 100%; /* Plná šířka obrazovky */
		height: 100%; /* Plná výška obrazovky */
		min-width: 100vw;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}
	.user-bar {
		padding: 0 !important;
	}
	.back-button {
		display: flex;
	}

	.modal {
		display: flex;
		flex-direction: column; /* Přidáno pro správné uspořádání obsahu */
		position: fixed;
		min-width: 100vw;
		max-width: 100vw;
		max-height: 90vh;
		background-color: white;
		border-radius: 10px;
		box-shadow: var(--basic-shadow);
		z-index: 1000;
		overflow: hidden;
		user-select: none; /* Zabrání výběru textu */
		pointer-events: auto;
	}
}

.photo-circle {
	border-radius: 50%;
	border: 1px solid black;
	z-index: 1;
}

.photo-circle--small {
	width: 32px;
	height: 32px;
	z-index: 1;
}

.photo-circle--medium {
	width: 48px;
	height: 48px;
	z-index: 1;
}

.photo-circle--big {
	width: 60px;
	height: 60px;
	z-index: 1;
}


.photo-circle--large {
	width: 100px;
	height: 100px;
}

* {
	scrollbar-color: var(--primary-color-15) var(--scrollbar-background);
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color-15);
	border-radius: 4px;
}
.conversations-panel {
	height: 100%;
	position: relative;
	overflow-y: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	flex: 1; /* Takes up remaining space after accounts-bar and search-bar */
	overflow-y: auto; /* Adds scrollbar if content overflows */
	transition: filter 0.3s;
	z-index: 1;
}
.conversations-panel .conversation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 10px;
	height: 60px;
	background-color: hsl(
		var(--primary-color-hue),
		var(--primary-color-sat),
		calc(var(--primary-color-lig) + 44%)
	);
	cursor: pointer;
	transition: opacity 0.1s, max-height 0.2s, padding 0.2s;
}

.conversations-panel .conversation:hover {
	background-color: hsl(
		var(--primary-color-hue),
		var(--primary-color-sat),
		calc(var(--primary-color-lig) + 35%)
	);
}

.conversations-panel .conversation.active {
	background-color: hsl(
		var(--primary-color-hue),
		var(--primary-color-sat),
		calc(var(--primary-color-lig) + 25%)
	);
}

.multipart-message .progressbar {
	background-color: #1d1d1d;
	height: 15px;
	width: 100%;
	border-radius: 20px;
	padding: 3px;
	margin-top: 10px;
	box-sizing: border-box;

}

.multipart-message .fill {
	width: 75%;
	height: 100%;
	border-radius: 10px;
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
	background-color: var(--primary-color);
	background-size: 15px;
	animation: move 1s linear infinite;
	box-sizing: border-box;
}

@keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 15px 0; /* posunutí o velikost pozadí */
	}
}
.conversations-panel .conversation__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0px 10px;
	-webkit-box-flex: 3;
	-ms-flex-positive: 3;
	flex-grow: 3;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-ms-flex-preferred-size: 0%;
	flex-basis: 0%;
	overflow: hidden;
}
.conversations-panel .conversation__info__user-name {
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.conversations-panel .conversation__info__user-email {
	font-size: 0.8rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 8px;
	font-weight: normal ;
}

.conversations-panel .conversation__info__last-message {
	color: grey;
	font-size: 0.8em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: normal;
}

.conversations-panel .conversation__status__date-time {
	font-size: 0.8em;
	color: #1d1d1d;
	text-align: right;
	padding-right:5px;
	font-weight: normal;
}

.conversations-panel .conversation__status__icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 10px;
	align-items: center;
}

.conversations-panel .conversation__status__icons.ingroup {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 2px !important;
}
.conversations-panel .conversation__status__icons__unread-messages {
	margin: 0px 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	font-size: 0.7em;
	color: #fffef8;
	background-color: var(--secondary-color);
}

.conversations-panel .conversation__status__icons__read-state {
	width: 20px;
	height: 20px;
	background-image: url('../img/icons/received.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.5;
}

.hide-avatar .message__sender-photo {
	visibility: hidden !important;
}

.message__sender-photo.news {
	visibility: hidden !important;
	display: none !important;
}

.reduce-margin {
	margin-bottom: 2px !important;
}

.hide-after .message__content::after {
	content: none !important;
}

.menu {
	position: absolute;
	z-index: 200;
	top: var(--searchbar-height);
	width: 300px;
	height: calc(100% - var(--searchbar-height));
	background-color: var(--primary-color-p44);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	box-shadow: var(--basic-shadow);
}

.menu__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0px 0px;
	padding: 16px 10px;
	cursor: pointer;
}

.menu__item:hover {
	background-color: var(--primary-color-p35);
}

.menu__item__icon {
	margin-right: 10px;
	width: 30px;
	height: 30px;
}

.menu__app-info {
	text-align: center;
	font-size: 0.8rem;
	width: 100%;
	padding-top: 15px;
	margin-bottom: 15px;
}

.menu__app-info a {
	color: var(--secondary-color);
	text-decoration: none;
}

.search-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0px 10px;
	/* width: var(--panel-left-width); */
	height: var(--searchbar-height);
	background-color: var(--primary-color);
	z-index: 250;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.search-bar__menu-toggle {
	width: 25px;
	height: 25px;
	cursor: pointer;
	background-image: url('../img/icons/icons8-menu.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25px;
}

.search-bar__menu-toggle.menu-opened {
	/*background-image: url('../../img/icons/transparent/close-cross.svg');*/
	background-image: url('../img/icons/icons8-close.svg');
	background-size: 25px;
}

.search-bar__search {
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding-right: 8px;
}

.search-bar__search input {
	width: calc(100% - 15px);
}

.user-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1em;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background-color: var(--primary-color);
	height: var(--userbar-height);
	min-height: var(--userbar-height);
	-webkit-box-shadow: var(--basic-shadow);

	box-shadow: var(--basic-shadow);
	/*z-index: 99;*/
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.user-bar .user-bar-container {
	padding:1rem;
	width:100%;
	height:100%;
	display:contents;
}
.user-bar .conversation-user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #303030;
	max-width: 100%;
	overflow: hidden;
}

.user-bar .conversation-user__photo {
	padding-right: 20px;
	display: flex;
}

.user-bar .conversation-user__detail {
	overflow: hidden;
}

.user-bar .conversation-user__detail__name {
	width: 100%;
	font-size: 1.2em;
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.user-bar .conversation-user__detail__address {
	font-size: 0.9em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.user-bar .conversation-controlls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*padding-right: 20px;*/
	-ms-flex-negative: 1;
	flex-shrink: 1;
}

.user-bar .conversation-controlls img {
	max-width: 100%;
	max-height: 100%;
}

.accounts-bar {
	/* padding-top: var(--searchbar-height);
  position: fixed;
  */
	height: var(--accountbar-height);
	z-index: 10;
}

.accounts-bar__active-account.menu-opened .account__arrow {
	background-image: url('../img/icons/caret-up.svg');
}
.accounts-bar__other-accounts.accounts-visible {
	max-height: 33vh;
}
.accounts-bar__other-accounts {
	/* display: none; */
	position: relative;
	width: 100%;
	max-height: 0;
	transition: max-height 0.2s ease-in-out;
	overflow-y: auto;
	/*top: 114px;*/
	z-index: -1;
	background-color: #2d2d2d;
	/*-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	background-color: rgba(0, 0, 0, 0.3);
	 */
	box-shadow: var(--basic-shadow);
}

.accounts-bar__other-accounts.active {
	display: block;
}

.account {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 50px;
	padding: 0 10px;
	cursor: pointer;
	background-color: #2d2d2d;
}

.account--active {
	background-color: #1d1d1d;
	z-index: 2;
}

#accountsBarComponent {
	z-index: 25;
}
.account--active .account__arrow {
	display: block;
}

.account:not(.account--active):hover {
	background-color: #1d1d1d;
}
.active-account-name {
	font-weight: 600 !important;
}
.account__name {
	white-space: nowrap; /* Zabrání zalomení textu na nový řádek */
	overflow: hidden; /* Skryje přebytečný obsah mimo prvek */
	text-overflow: ellipsis; /* Přidá tři tečky na konec, pokud je text oříznut */
	font-weight: 300;
	font-size: 1rem;
	padding: 0px 10px;
	color: #fffef8;
	-webkit-box-flex: 3;
	-ms-flex-positive: 3;
	flex-grow: 3;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-ms-flex-preferred-size: 0%;
	flex-basis: 0%;
}

.account__arrow {
	display: none;
	width: 12px;
	height: 10px;
	background-image: url('../img/icons/caret-down.svg');
	background-repeat: no-repeat;
}

.input-bar {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: flex-end;
	/*padding: 1rem;*/
	-webkit-box-align: end;
	-ms-flex-align: end;
	min-height: max-content;/*var(--inputbar-height);*/
	background-color: #1d1d1d;
	-webkit-box-shadow: var(--basic-shadow);
	box-shadow: var(--basic-shadow);
	z-index: 20;
	padding-bottom: 4px;
	padding-top: 4px;
}

.input-bar .text {
	width: 100%;
	border: 0;
	border-bottom: 1px solid #ffffff;
	border-radius: 0px;
	color: #fffef8;
	background-color: #1d1d1d;
}

.conversation-detail {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	background-image: url('../img/background/doodle.png');
	background-repeat: repeat;
	background-size: 500px;
	background-color: hsl(
		var(--primary-color-hue),
		var(--primary-color-sat),
		calc(var(--primary-color-lig) + 44%)
	);
	/*padding-bottom: calc(50px + var(--inputbar-height));*/
	padding: 0px;
	overflow-y: auto;
	-webkit-box-shadow: inset var(--basic-shadow);
	box-shadow: inset var(--basic-shadow);
	color: #000000;
	flex-grow: 1;
	/*max-height: 100%;*/
}

.conversation-detail .messages-box {
	overflow-y: auto;
	width: 100%;
	padding: 0px 20px;
	overflow-x: hidden;
}

.conversation-detail .centered-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 1.5em;
	text-align: center;
}

.conversation-detail .messages {
	max-width: var(--container-max-width);
	width: 100%;
	margin: 0px auto;
}

.conversation-detail .messages__info {
	text-align: center;
	margin-bottom: 30px;
}

.conversation-detail .messages__info__date {
	font-size: 0.8rem;
	padding: 5px 10px;
	border-radius: 20px;
	display: inline-block;
	background-color: var(--primary-color);
	margin: 20px auto;
	margin-bottom: 0;
	-webkit-box-shadow: var(--basic-shadow);
	box-shadow: var(--basic-shadow);
}

.message {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: end;
	align-content: flex-end;
	margin-bottom: 50px;
	position: relative;
}

.message--sent {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.message--sent .message__content {
	background-color: hsl(
		var(--primary-color-hue),
		var(--primary-color-sat),
		calc(var(--primary-color-lig) + 35%)
	);
}

.message--sent .message__content::after {
	content: '';
	position: absolute;
	bottom: 16px;
	left: -14px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13px 16px 13px 0;
	border-color: transparent hsl(var(--primary-color-hue), var(--primary-color-sat), calc(var(--primary-color-lig) + 35%)) transparent transparent;
	filter: drop-shadow(-6px 0px 4px #1d1d1d3d) ;
	z-index: 1;
}

.message--received {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.message--received .message__content {
	background: #fffef8;
}


.message--received .message__content::after {
	content: '';
	position: absolute;
	bottom: 16px;
	right: -14px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13px 0 13px 16px;
	border-color: transparent transparent transparent #fffef8;
	filter: drop-shadow(6px 0px 4px #1d1d1d3d) ;
}

.message__sender-photo {
	margin-top: 4px;
	display: flex;
	align-items: flex-end;
}

.message__sender-photo img {
	-webkit-box-shadow: var(--basic-shadow);

	box-shadow: var(--basic-shadow);
}

.message__content {
	background-color: #f0f0f0;
	border-radius: 16px;
	padding: 16px;
	margin: 0 22px;
	max-width: 900px;
	min-width: 200px;
	position: relative;
	z-index: 2;
	-webkit-box-shadow: var(--basic-shadow);
	box-shadow: var(--basic-shadow);
}
.message__content.news {
	max-width: 100%;
}

.message__content__text {
	/*font-family: Roboto;*/
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 16px;
	word-wrap: break-word;
}

.message__content__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.message__content__info__translate {
	background-image: url('../img/icons_new/language_noback.svg');
	margin-left: 0px;
	cursor: pointer;
	margin-right: auto;
	width: 15px;
	height: 15px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.message__content__info__date-time {
	font-size: 0.8rem;
	margin-right: 10px;
}

.translation {
	padding: 0px 10px;
	background-color: rgba(0,0,0,0.05);
}

.message__content__text.translation::before {
	content: "Translation:\A0";
	white-space: pre;
	font-size: 0.8em;
	display: block;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
	padding-bottom: 2px;
}

.message__content__info__icons {
	text-align: right;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}

.message__content__info__icons__icon {
	width: 15px;
	height: 15px;
	margin-right: 5px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.message__content__info__icons__icon--secure {
	background-image: url(../img/icons_new/encryption_on_noback.svg);
}

.message__content__info__icons__icon--non-secure {
	background-image: url(../img/icons_new/encryption_off_noback.svg);
}

.message__content__info__icons__icon--read {
	background-image: url(../img/icons_new/icon_recieved.svg);
	opacity: 0.5;
}


.conversation-item-hidden {
	opacity: 0;
	max-height: 0;
	padding:0px!important;
	overflow: hidden;
}
