#page {
	display: grid;
	grid-template-columns: 1fr auto 2fr; /* Rozdělení prostoru mezi panel-left a panel-right */
	height: 100vh;
	overflow: hidden;
}
#page .resizer {
	cursor: ew-resize;
	left:var(--panel-left-width);
	width: var(--resizer-width);
	margin-left: -5px;
	margin-right: -5px;
	margin-top: var(--userbar-height);
	background-color: transparent;
	z-index: 100;
}
.panel-left {
	display: grid;
	grid-template-rows: auto auto auto 1fr;

	background-color: #fff;

	overflow-y: auto;
	min-width: var(--leftpanel-min-width);
	max-width: var(--leftpanel-max-width);
}

.panel-right {
	min-width: var(--rightpanel-min-width);
	max-width: var(--rightpanel-max-width);
	background-color: #eee;
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
	/*width: 100vw; viewport width */
}

.social-icons {
	display: flex;
	justify-content: space-evenly;
	background-color: #1d1d1d;
	padding-top: 8px;
}

.social-icons .icon {
	width: 24px;
	height: 24px;
	cursor: default;  /* This ensures that the cursor doesn't change to a pointer on hover */
}

.invisible{
	display: none;
	transition: 250ms;
}

.blurred {
	filter: blur(3px);
}

#message-text-input {
	width: 100%;
	overflow: hidden;
	resize: none;
	border: 1px solid gray;
	max-height: 5em;
	height: 1em;
	line-height: 1em;
 }

/* extracted.css */
.toggle-container {
	margin-right: 6px;
	min-width: 24px;
	max-width: 24px;
	display: inline-block;
	height: 10px;
	width: 24px; /* 2 times the height for a proportional look */
	padding: 4px; /* To give space for the slider to move */
}

.toggle-switch {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}


.toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.toggle-switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: gray;
	transition: .4s;
	border-radius: 10px;
}

.toggle-switch .slider:before {
	position: absolute;
	content: "";
	height: 8px;
	width: 8px;
	left: 1px;
	bottom: 1px;
	background-color: var(--primary-color);
	transition: .4s;
	border-radius: 50%;
}

.toggle-switch input:checked + .slider {
	background-color: #807000;
}

.toggle-switch input:checked + .slider:before {
	transform: translateX(15px);
}
@media (max-width: 720px) {
	#page {
		grid-template-columns: 1fr;
	}
	.panel-left  {
		min-width:100%;
	}
	.panel-right {
		display: none;
	}
	.resizer {
		display: none;
	}
}

.photo-circle {
	border-radius: 50%;
	border: 1px solid black;
}

.photo-circle--small {
	width: 32px;
	height: 32px;
}

.photo-circle--medium {
	width: 50px;
	height: 50px;
}

.photo-circle--large {
	width: 100px;
	height: 100px;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
	background-color: var(--primary-color);
	border-radius: 8px;
}

.conversations-panel {
	height: 100%;
	overflow-y: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	flex: 1; /* Takes up remaining space after accounts-bar and search-bar */
	overflow-y: auto; /* Adds scrollbar if content overflows */
	transition: filter 0.3s;
}
.conversations-panel .conversation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #808080;
	height: 60px;
	background-color: hsl(
		var(--primary-color-hue),
		var(--primary-color-sat),
		calc(var(--primary-color-lig) + 44%)
	);
	cursor: pointer;
}

.conversations-panel .conversation:hover {
	background-color: var(--primary-color);
}

.conversations-panel .conversation--active {
	background-color: var(--primary-color);
}

.conversations-panel .conversation__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0px 10px;
	-webkit-box-flex: 3;
	-ms-flex-positive: 3;
	flex-grow: 3;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-ms-flex-preferred-size: 0%;
	flex-basis: 0%;
	overflow: hidden;
}

.conversations-panel .conversation__info__user-name {
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.conversations-panel .conversation__info__user-email {
	font-size: 0.8rem;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 8px;
}

.conversations-panel .conversation__info__last-message {
	color: grey;
	font-size: 0.8em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.conversations-panel .conversation__status__date-time {
	font-size: 0.8em;
	color: #808080;
	text-align: right;
}

.conversations-panel .conversation__status__icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 10px;
}

.conversations-panel .conversation__status__icons__unread-messages {
	margin: 0px 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	font-size: 0.7em;
	color: #fffef8;
	background-color: var(--secondary-color);
}

.conversations-panel .conversation__status__icons__read-state {
	width: 20px;
	height: 20px;
	background-image: url('../../img/icons/recieved.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.5;
}

.menu {
	position: absolute;
	z-index: 200;
	top: var(--searchbar-height);
	width: 300px;
	height: calc(100% - var(--searchbar-height));
	background-color: #fffef8;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	box-shadow: 4px 0px 8px 0px #1d1d1d
}

.menu__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 12px 10px;
	padding: 4px;
	border-radius: 12px;
	cursor: pointer;
}

.menu__item:hover {
	background-color: #f4f4f4;
}

.menu__item__icon {
	margin-right: 10px;
	width: 30px;
	height: 30px;
}

.menu__app-info {
	text-align: center;
	font-size: 0.8rem;
	width: 100%;
	padding-top: 15px;
	margin-bottom: 15px;
}

.menu__app-info a {
	color: var(--secondary-color);
	text-decoration: none;
}

.search-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0px 10px;
	/* width: var(--panel-left-width); */
	height: var(--searchbar-height);
	background-color: var(--primary-color);
	z-index: 250;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.search-bar__menu-toggle {
	width: 25px;
	height: 25px;
	cursor: pointer;
	background-image: url('../../img/icons/menu.svg');
	background-position: center;
	background-repeat: no-repeat;
}

.search-bar__menu-toggle.menu-opened {
	background-image: url('../../img/icons/transparent/close-cross.svg');
}

.search-bar__search {
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

.search-bar__search input {
	width: calc(100% - 15px);
}

.user-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background-color: var(--primary-color);
	height: var(--userbar-height);
	min-height: var(--userbar-height);
	-webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
	z-index: 99;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.user-bar .conversation-user {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #303030;
	max-width: 100%;
	overflow: hidden;
}

.user-bar .conversation-user__photo {
	padding-right: 20px;
}

.user-bar .conversation-user__detail {
	overflow: hidden;
}

.user-bar .conversation-user__detail__name {
	width: 100%;
	font-size: 1.2em;
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.user-bar .conversation-user__detail__address {
	font-size: 0.9em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.user-bar .conversation-controlls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-right: 20px;
	-ms-flex-negative: 1;
	flex-shrink: 1;
}

.user-bar .conversation-controlls img {
	max-width: 100%;
	max-height: 100%;
}

.accounts-bar {
	/* padding-top: var(--searchbar-height);
  position: fixed;
  */
  height:var(--accountbar-height);
  z-index: 10;
}

.accounts-bar__active-account.menu-opened .account__arrow {
	background-image: url('../../img/icons/caret-up.svg');
}

.accounts-bar__other-accounts {
	/* display: none; */
	position: relative;
	width: 100%;
	max-height: 12vh;
	overflow-y: auto;
    /*top: 114px;*/
	z-index: 10;
	background-color: #ccc;
	/*-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	background-color: rgba(0, 0, 0, 0.3);
	 */
	box-shadow: 0px 4px 4px 0px gray;
}

.accounts-bar__other-accounts.active {
	display: block;
}

.account {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 50px;
	padding: 0 10px;
	cursor: pointer;
	background-color: grey;
}

.account--active {
	background-color: #1d1d1d;
}

.account--active .account__arrow {
	display: block;
}

.account:not(.account--active):hover {
	background-color: #676767;
}

.account__name {
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 300;
	font-size: 1rem;
	padding: 0px 10px;
	color: #fffef8;
	-webkit-box-flex: 3;
	-ms-flex-positive: 3;
	flex-grow: 3;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-ms-flex-preferred-size: 0%;
	flex-basis: 0%;
}

.account__arrow {
	display: none;
	width: 12px;
	height: 10px;
	background-image: url('../../img/icons/caret-down.svg');
	background-repeat: no-repeat;
}

.input-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*padding: 1rem;*/
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: var(--inputbar-height);
	background-color: #1d1d1d;
	-webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.65);
	box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.65);
	z-index: 20;
}

.input-bar .text {
	width: 100%;
	border: 0;
	border-bottom: 1px solid #fffef8;
	border-radius: 0px;
	color: #fffef8;
	background-color: #1d1d1d;
}

.conversation-detail {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow-y: auto;
	width: 100%;
	background-image: url('../../img/background/doodle.png');
	background-repeat: repeat;
	background-size: 500px;
	background-color: hsl(
		var(--primary-color-hue),
		var(--primary-color-sat),
		calc(var(--primary-color-lig) + 44%)
	);
	padding-bottom: calc(50px + var(--inputbar-height));
	padding: 0px;
	overflow-y: auto;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.5);
	box-shadow: inset 10px 0 10px -10px rgba(0, 0, 0, 0.5);

}

.conversation-detail .messages-box {
	overflow-y: auto;
	width: 100%;
	padding: 0px 20px;
}

.conversation-detail .messages {
	max-width: 1000px;
	width: 100%;
	margin: 0px auto;
}

.conversation-detail .messages__info {
	text-align: center;
	margin-bottom: 30px;
}

.conversation-detail .messages__info__date {
	font-size: 0.8rem;
	padding: 5px 10px;
	border-radius: 20px;
	display: inline-block;
	background-color: var(--primary-color);
	margin: 20px auto;
	margin-bottom: 0;
	-webkit-box-shadow: 0px 4px 16px 0px #1d1d1d3d;
	box-shadow: 0px 4px 16px 0px #1d1d1d3d;
}

.message {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: end;
	align-content: flex-end;
	margin-bottom: 50px;
	position: relative;
}

.message--sent {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.message--sent .message__content {
	background-color: #faefbe;
}

.message--sent .message__content:after {
	content: '';
	position: absolute;
	top: 20px;
	left: -16px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13px 16px 13px 0;
	border-color: transparent #faefbe transparent transparent;
}

.message--recieved {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.message--recieved .message__content {
	background: #fffef8;
}

.message--recieved .message__content:after {
	content: '';
	position: absolute;
	top: 20px;
	right: -16px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13px 0 13px 16px;
	border-color: transparent transparent transparent #fffef8;
}

.message__sender-photo {
	margin-top: 4px;
}

.message__sender-photo img {
	-webkit-box-shadow: 0px 4px 16px 0px #101010;
	box-shadow: 0px 4px 16px 0px #101010;
}

.message__content {
	background-color: #f0f0f0;
	border-radius: 16px;
	padding: 16px;
	margin: 0 22px;
	max-width: 530px;
	min-width: 200px;
	position: relative;
	-webkit-box-shadow: 0px 4px 16px 0px #1d1d1d3d;
	box-shadow: 0px 4px 16px 0px #1d1d1d3d;
}

.message__content__text {
	/*font-family: Roboto;*/
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 16px;
	word-wrap: break-word;
}

.message__content__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.message__content__info__date-time {
	font-size: 0.8rem;
	margin-right:10px;
}

.message__content__info__icons {
	text-align: right;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.message__content__info__icons__icon {
	width: 15px;
	height: 15px;
	margin-right: 5px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.message__content__info__icons__icon--secure {
	background-image: url(../../img/icons/transparent/secure.svg);
}

.message__content__info__icons__icon--non-secure {
	background-image: url(../../img/icons/transparent/non-secure.svg);
}

.message__content__info__icons__icon--read {
	background-image: url(../../img/icons/recieved.svg);
	opacity: 0.5;
}
