:root {
	--container-max-width:1600px;
	--primary-color-hue: 49;
	--primary-color-sat: 97%;
	--primary-color-lig: 53%;
	--primary-color: hsl(
		var(--primary-color-hue),
		var(--primary-color-sat),
		calc(var(--primary-color-lig))
	);
	--primary-color-15: hsl(
		var(--primary-color-hue),
		var(--primary-color-sat),
		calc(var(--primary-color-lig) - 15%)
	);
	--primary-color-35: hsl(
		var(--primary-color-hue),
		var(--primary-color-sat),
		calc(var(--primary-color-lig) - 35%)
	);
	--primary-color-p15: hsl(
			var(--primary-color-hue),
			var(--primary-color-sat),
			calc(var(--primary-color-lig) + 15%)
	);
	--primary-color-p25: hsl(
			var(--primary-color-hue),
			var(--primary-color-sat),
			calc(var(--primary-color-lig) + 25%)
	);
	--primary-color-p35: hsl(
			var(--primary-color-hue),
			var(--primary-color-sat),
			calc(var(--primary-color-lig) + 35%)
	);
	--primary-color-p40: hsl(
			var(--primary-color-hue),
			var(--primary-color-sat),
			calc(var(--primary-color-lig) + 40%)
	);
	--primary-color-p44: hsl(
			var(--primary-color-hue),
			var(--primary-color-sat),
			calc(var(--primary-color-lig) + 44%)
	);
	--secondary-color: #336699;
	--panel-left-width: 440px;
	--resizer-width: 10px;
	--searchbar-height: 64px;
	--userbar-height: 64px;
	--inputbar-height: 44px;
	--accountbar-height: 50px;
	--leftpanel-min-width: 397px;
	--leftpanel-max-width: 50vw;
	--rightpanel-min-width: 397px;
	--rightpanel-max-width: 100vw;
	--basic-shadow-color: rgba(128, 128, 128, 0.5);
	--basic-shadow: 0px 0px 16px 4px var(--basic-shadow-color);
	--basic-shadow-inset: inset 0px 0px 8px 4px var(--basic-shadow-color);

	--basic-shadow-inset-mine: inset 4px 0px 8px -3px var(--basic-shadow-color),
		inset 0px 4px 8px -3px var(--basic-shadow-color);
	--basic-shadow-mine: 4px 0px 8px -3px var(--basic-shadow-color),
		0px 4px 8px -3px var(--basic-shadow-color);
	--basic-shadow-right: 4px 0px 8px -3px var(--basic-shadow-color);
	--scrollbar-background: hsl(var(--primary-color-hue), var(--primary-color-sat), calc(var(--primary-color-lig) + 30%));
}

*:focus {
	outline: none;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-LightItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-MediumItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

html,
body {
	height: 100vh; /* Výška obrazovky */
	overflow: hidden; /* Zabrání scrollování */
	overscroll-behavior-y: contain;
}

body {
	margin: 0;
	font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
}

a {
	cursor: pointer;
}

input {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #808080;
	color: #000;
}
/*
 #account .item {
  list-style: none;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 11px;
  cursor: pointer;
 }
 */
.hidden {
	height: 0;
	margin-top: -35px;
	transition: all 0.5s ease-in-out;
}

.visible {
	height: 100%;
	transition: all 0.5s ease-in-out;
}

#accounts .icon {
	margin-left: auto;
	position: absolute;
	right: 0;
	width: 20px;
	top: 0;
	margin-top: 20px;
	margin-right: 10px;
}

.menuitem .icon {
	margin-right: 10px;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	/*padding: 2px;*/
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.icon img {
	display: block;
	margin: auto;
}

.icon .non-secure {
	width: 24px;
}

.shadow {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.nowrap {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.icon-small {
	margin-left: 10px;
}

.mt {
	position: fixed;
	margin-top: var(--userbar-height);
	width: calc(100% - var(--panel-left-width));
	height: 1px;
}

.br {
	padding-bottom: 10px;
}

.slide-in {
	margin-left: -325px;
	overflow-x: hidden;
	transition: margin-left 0.2s ease-in-out, transform 0.2s ease-out;
}

.slide-in.show {
	margin-left: 0px;
}

#page #chat .container .message,
.row {
	display: flex;
	margin: 10px;
}

.row {
	justify-content: space-between;
	width: 83px;
	position: relative;
}

.autogen {
	width: calc(var(--panel-left-width) - 160px);
}

.sent + .received .content::before,
.date + .received .content::before {
	content: '';
	position: absolute;
	left: -22px;
	top: 0;
	width: 40px;
	border-bottom: 35px solid #f0f0f0;
	border-top-right-radius: 20px;
}

.sent + .received .content::after,
.date + .received .content::after {
	content: '';
	position: absolute;
	left: -28px;
	top: -3px;
	height: 38px;
	width: 28px;
	background: #fffef8;
	border-top-right-radius: 20px;
}

.received + .sent .content::before,
.date + .sent .content::before {
	content: '';
	position: absolute;
	right: -22px;
	top: 0;
	width: 40px;
	border-bottom: 35px solid #f0f0f0;
	border-top-left-radius: 20px;
}

.received + .sent .content::after,
.date + .sent .content::after {
	content: '';
	position: absolute;
	right: -28px;
	top: -3px;
	height: 38px;
	width: 28px;
	background: #fffef8;
	border-top-left-radius: 20px;
}

#page #chat .container .message .content .meta {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 12px;
	margin-top: 4px;
}

#page #inputbar {
	display: flex;
	align-items: center;
	padding: 0 10px;
	height: var(--inputbar-height);
	background-color: #1d1d1d;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: var(--panel-left-width);
	z-index: 999;
}

#page #inputbar .text {
	width: 100%;
	border: 0;
	border-bottom: 1px solid #fffef8;
	border-radius: 0px;
	color: #fffef8;
	background-color: #1d1d1d;
}
