body {
 font-family: Arial, sans-serif;
 background-color: #f4f4f4;
 color: #333;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
}

.container {
 text-align: center;
 background: #fff;
 padding: 20px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 border-radius: 20px;
}

#current-info {
 margin-bottom: 20px;
}

canvas {
 max-width: 100%;
}

.buttons {
 margin-top: 20px;
}

button {
 padding: 10px 20px;
 margin: 5px;
 border: none;
 background: #007bff;
 color: white;
 cursor: pointer;
 border-radius: 5px;
}

button:hover {
 background: #0056b3;
}
