.search-bar {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  width: var(--panel-left-width);
  height: var(--searchbar-height);
  background-color: var(--primary-color);
  z-index: 20;
  box-sizing: border-box;

  &__menu-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-image: url('../images/icons/menu.svg');
    background-position: center;
    background-repeat: no-repeat;

    &.menu-opened {
      background-image: url('../images/icons/transparent/close-cross.svg');
    }
  }

  &__search {
    padding-left: 10px;
    box-sizing: border-box;

    width: 100%;
    input {
      width: calc(100% - 15px);
    }
  }
 }