<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Recipe</title>
 <link rel="stylesheet" href="style.css">
</head>
<body>
 <div class="recipe">
  <div class="imgbox">
   <img class="image" src="" alt="Recipe Image">
   <div class="categories">
    <div class="title"></div>
    <div class="category"></div>
    <div class="area"></div>
   </div>
  </div>
  <div class="descbox">
   <div class="title">Ingredients:</div>
   <ul class="ingredients"></ul>
   <div class="title">Instructions:</div>
   <div class="description"></div>
   <div class="video"></div>
  </div>
 </div>
 <script src="script.js"></script>
</body>
</html>
