body {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 margin: 10px;
 background-color: #f0f0f0;
}

a {
 color: #1e90ff;
}

.recipe {
 display: flex;
 flex-direction: column;
 border: 1px solid #333;
 padding: 10px;
 background-color: #FFF;
 border-radius: 10px;
 width: 500px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe .imgbox {
 display: flex;
 flex-direction: row;
 margin-bottom: 10px;
}

.recipe .imgbox .image {
 margin-right: 10px;
 max-width: 200px;
 border-radius: 10px;
}

.recipe .imgbox .title {
 font-size: 20px;
 font-weight: bold;
 margin-bottom: 10px;
}

.recipe .descbox .title {
 font-size: 16px;
 font-weight: bold;
 margin-bottom: 10px;
}

.recipe .descbox .ingredients {
 text-align: left;
 list-style-type: none;
}

.recipe .descbox .ingredients ul li {
 font-size: 1em;
 margin: 5px 0;
}

.recipe .descbox .description {
 font-size: 1em;
 color: #555;
 text-align: left;
}

.recipe .descbox .video {
 display: block;
 margin-top: 20px;
 font-size: 1.1em;
 text-decoration: none;
}
