.input-bar {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: var(--inputbar-height);
  background-color: #1D1D1D;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.65);

  z-index: 20;

  .text {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #FFFEF8;
    border-radius: 0px;
    color: #FFFEF8;
    background-color: #1D1D1D;
   }
 }
