body, html {
 margin: 10px;
 height: 100%;
 overflow: hidden;
}

#panorama-container {
 width: 800px;
 height: 480px;
 background: url('pano.jpg') repeat-x;
 background-size: auto 100%;
 cursor: grab;
 touch-action: none;
 border-radius: 10px;
 border: 1px solid #000;
}
