<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Horoscope</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
 <div class="container">
  <div class="title">Horoscope - Pisces</div>
  <div id="today-horoscope">
   <div class="subtitle">Today</div>
   <p id="today-date"></p>
   <p id="today-horoscope-text"></p>
  </div>
  <div id="tomorrow-horoscope">
   <div class="subtitle">Tomorrow</div>
   <p id="tomorrow-date"></p>
   <p id="tomorrow-horoscope-text"></p>
  </div>
  <div id="error" class="error"></div>
 </div>
 <script src="script.js"></script>
</body>
</html>
