<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Piškvorky</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>

    <h1>Piškvorky</h1>

    <table id="deska" onclick="priKliknutiNaBunku(event)">
        <tr>
            <td>Z</td>
            <td>Z</td>
            <td>Z</td>
            <td>Z</td>
            <td>Z</td>
        </tr>
        <tr>
            <td>Z</td>
            <td>Z</td>
            <td>Z</td>
            <td>Z</td>
            <td>Z</td>
        </tr>
        <tr>
            <td>Z</td>
            <td>Z</td>
            <td>Z</td>
            <td>Z</td>
            <td>Z</td>
        </tr>
        <tr>
            <td>Z</td>
            <td>Z</td>
            <td>Z</td>
            <td>Z</td>
            <td>Z</td>
        </tr>
        <tr>
            <td>Z</td>
            <td>Z</td>
            <td>Z</td>
            <td>Z</td>
            <td>Z</td>
        </tr>
    </table>

    <script src="hra.js"></script>
    <script src="script.js"></script>
</body>
</html>
